<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CLIPBOARD" />
    <uses-permission android:name="android.permission.WRITE_CLIPBOARD" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inmobit"
        tools:targetApi="31">
        <activity
            android:name=".EditarInmuebleActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".InicioInvitadoActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroHabitacionActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmobit" />
        <activity
            android:name=".MiHabitacionActivity"
            android:exported="false" />
        <activity
            android:name=".EditarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".MiPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".MiInmuebleActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleInmuebleActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroInmuebleActivity"
            android:exported="false" />
        <activity
            android:name=".InicioUsuarioActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCRpxZ0P2IByfB5KBb8fFWvfUP1WWi-Qu8" />

        <activity
            android:name=".RegistroUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".InicioSesionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>